<link rel="stylesheet" type="text/css" href="/wp-content/plugins/atrapalo/css/main.css"/>
Datos de la busqueda: Estancia desde el <?=$vars['fecha_entrada']?> al
<?=$vars['fecha_salida']?> en <?=$vars['nombre_destino']?> (<?=$vars['nombre_pais']?>)
<div id="paging_atrapalo_result" class="container" >
<div class="alt_page_navigation"></div>
<div id="map" class="hidden" style="width:100%;height:400px;display:none"></div>
<ul class="alt_content">
<? foreach($hotels as $hotel){ ?>
<li>
    <div id="post-<?=$hotel['HotelCode']?>" class="post ">
        <div class="post-top">
            <div class="post-title">
                <h3><a title="<?=$hotel['HotelName']?>" href="<?=$hotel['HotelInfoLink']?>"><?=$hotel['HotelName']?> <?=$hotel['HotelCat']?></a>
                    <span style="font-size: 0.8em">@ <?=$hotel['CityName']?>, <?=$hotel['StateProv']?> (<?=$hotel['CountryName']?>)</span></h3>
                <h3>Desde <?=number_format($hotel['aRoomStay'][0]->Total['AmountBeforeTax'],2)?>&euro;</h3>
            </div>
        </div>
        <div class="entry clear">
            <p><img src="<?= $hotel['aPhotos'][0] ?>"  align="left" style="padding-right: 5px;" width="160" height="110" alt="<?=$hotel['HotelName']?>"/>
                <?=$hotel['HotelText']?></p>
            <p align="right">
                <button onclick="location.href='<?=$hotel['ReservationLink']?>'"><?=__("RESERVAR","atrapalo")?></button>
            </p>
        </div>
    </div>
</li>
<? } ?>
</ul>
<div class="page_navigation"></div>
</div>