<link rel="stylesheet" type="text/css" href="/wp-content/plugins/atrapalo/css/main.css"/>
<h3><?php echo __("Datos de la busqueda:");?></h3>
Estancia desde el <?=$vars['fecha_entrada']?> al <?=$vars['fecha_salida']?> en <?=$vars['nombre_destino']?> (<?=$vars['nombre_pais']?>)
<br/>En  <?=$vars['num_habitaciones']?> habitaciones para <?=$vars['num_adultos_1']?> personas en cada una.
<br/><br/>
<div id="paging_atrapalo_result" class="container">
<div class="alt_page_navigation"></div>
<div id="map"></div>
<ul class="alt_content">
    <? foreach($hotels as $hotel){ ?>
    <li>
        <div id="post-<?=$hotel['HotelCode']?>" class="post">
            <div class="post-top">
                <div class="post-title">
                    <h3>
                        <a title="<?=$hotel['HotelName']?>" href="<?=$hotel['HotelInfoLink']?>"><?=$hotel['HotelName']?> <?=$hotel['HotelCat']?></a>
                        <span style="font-size: 0.8em">@ <?=$hotel['CityName']?></span>
                    </h3>
                    <h3>Desde <?=number_format((float)$hotel['aRoomStay'][0]->Total['AmountBeforeTax'],2)?>&euro;</h3>
                </div>
            </div>
            <div class="entry clear">
                <p>
                    <img src="http://w0.atrapalo.com/hoteles/photo/si/<?=$hotel['HotelCode']?>/0/138/90/" align="left" style="padding-right: 5px;" width="138" height="90" alt="<?=$hotel['HotelName']?>"/>
                    <?=$hotel['HotelText']?></p>

                <p align="right">
                    <button onclick="location.href='<?=$hotel['ReservationLink']?>'"><?=__("RESERVAR","atrapalo")?></button>
                </p>
            </div>
        </div>
    </li>
    <? } ?>
</ul>
<div class="alt_page_navigation"></div>
</div>
<script type="text/javascript">
items_per_page = parseInt(<?= $atts['api_num_results'] ? $atts['api_num_results'] : 25 ?>);
</script>
