<link rel="stylesheet" type="text/css" href="/wp-content/plugins/atrapalo/css/jquery-ui-1.8.custom.css"/>
<link rel='stylesheet' type="text/css" href="/wp-content/plugins/atrapalo/css/main.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/wp-content/plugins/atrapalo/js/main.js"></script>
<div class="block widget ">
<h2 class="widgettitle"><?=__("Buscar Hoteles en Atrapalo.com","atrapalo")?></h2>

<div class="widgetcontent">
<form action="<?=$action?>" method="post" name="busqueda" id="busqueda">
<input type='hidden' name='pg' id='pg' value='pre_resultado'/>
<input type='hidden' name='nombre_destino' id='nombre_destino' value=""/>
<input type='hidden' name='nombre_pais' id='nombre_pais' value=""/>
<input type='hidden' name='num_noches' id='num_noches' value='0'/>
<table border="0" style="border: 0px solid;" id="search_1" width="99%">
    <tr>
        <td colspan="2">
            <label for="nombre_destino1">Destino</label>
            <input id="nombre_destino1" name="nombre_destino1" style="width: 95%" size="50" type="text" value="" onchange="$('nombre_destino').value=this.value;"/>

            <div id="div_auto_complete" class="div_auto_complete width200"></div>
        </td>
    </tr>
    <tr>
        <td>
            <label for="fecha_entrada">Entrada&nbsp;</label>
            <input size="10" class="w70px" name="fecha_entrada" id="fecha_entrada" readonly="readonly" type="text" value=""/>
        </td>
        <td>
            <label for="fecha_salida">Salida&nbsp;</label>
            <input size="10" class="w70px" name="fecha_salida" id="fecha_salida" readonly="readonly" type="text" value=""/>
        </td>
    </tr>
</table>
<table border="0" style="border: 0px solid;">
<tr>
    <td>
        <label for="num_habitaciones">Hab.</label>
        <select name="num_habitaciones" id="num_habitaciones">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select></td>
    <td>
        <label for="num_adultos_1">Paxes</label>
        <select name="num_adultos_1" id="num_adultos_1">
            <option value="1">1</option>
            <option value="2" selected="selected">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select></td>
    <td>
        <br/>
        <p id="search_result" style="text-align: center">
            <button onclick="comprobar(0);return false;" title="Buscar">Buscar</button>
        </p>
    </td>
</tr>
</table>
</form>
</div>
</div>